
<section class="nav-bar">
  <%= link_to 'Blog App', '/users' %>
  <div class='nav-item'>
    <% if @user %>
      <%= link_to 'create post', '/users/:user_id/posts' %>
    <% end %>
    <div>
    <%= link_to 'Log-in', new_user_session_path %>
    </div>
    <div>
    <%= link_to 'Sign-out',  destroy_user_session_path, method: :delete %>
    </div>
  </div>
</section>




