<section class='user-container'>
<% @users.each do |user| %>
<div class='user'>
<div class='user_Photo'><%=user.photo%></div>
<div class='user_name'>
<h2><%=user.name%></h2>
<div class=post_nums>
 <p class="post_count">Number of posts: <%= @user.posts_counter %></p>
</div>

</div>

  <% end %>
</section>


