<section class='user-container'>
    <div class='user'>
      <div class='user_Photo'><%= user.photo, class: "profile-photo" %></div>
      <div class='user_name'>
        <h2><%= user.name %></h2>
        <div class=post_nums>
          <p class="post_count">Number of posts: <%= user.posts_counter %></p>
        </div>
      </div>
    </div>
</section>

 <section class="Bio">
    <div class = "Bio_box">
      <h3 class="Bio_title">Bio :</h3>  
      <p><%= @users.Bio %></p>
    </div>
</section>